/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****General*****/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:visited, a:hover, a:active, a:focus {
  color: yourColor !important;
  text-decoration: none !important;
  outline: none !important;
}

.padding-wrapper {
  margin: 0 118px;
}

/*****Typography*****/

h1  {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 49.37px;
}

h2  {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 24.69px;
  text-transform: uppercase;
}

h3  {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 18.51px;
  color: #555555;
  text-transform: uppercase;
}

h4  {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14.4px;
  text-transform: uppercase;
}

h5  {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12.34px;
  text-transform: uppercase;
}

a, p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14.4px;
  color: #999999;
}

p {
  line-height: 21.6px;
}

.section-wrapper {
  padding: 0 118px;
}

/*****Navigation*****/
.navbar {
    font-size: 18px;
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    padding: 9px 0px;
    text-decoration: none;
    color: #999999;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #000;
    font-size: 24px;
}

.current {
  text-align: center;
  border-bottom: 3px solid transparent;
}

..current:before {
  margin-top: 20px;
}

.active {
   display: inline;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 36px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
      border-bottom: 3px solid #3baafe;
    }
}

/*****Slider*****/
#slider-section {
    position: relative;
}

#slider {
    overflow: hidden;
    height: 669px;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
    height: 669.62px;
    object-fit: cover;
}

@keyframes slider {
    0% {
        left: 0;

    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    90% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

/* slider text */

.slider-text {
    position: absolute;
    top: 222px;
    bottom: 50%;
    right: 0px;
    text-align: right;
}

.slider-text h1{
  color: #fff;
}

#slider-section > div.slider-text.section-wrapper > div.slider-text-hero-content .grey-hero-text {
  color: #e6e6e6;
}

#slider-section > div.slider-text.section-wrapper > div.slider-text-hero-content .blue-hero-text {
  color: #3baafe;
}

.slider-text .slider-cta {
  margin-top: 21px;
}

.slider-text .slider-cta button {
  border: none;
  padding: 23px 34px;
  margin-left: 24px;
  color: #555555;
  background-color: #fff;
}

.slider-text .slider-cta button:hover {
  color: #fff;
  background-color: #555555;
  transition: 0.2s;
}

/*****best section*****/

.best-section-wrapper {
	display: flex;
  justify-content: center;
  padding: 86px 118px;
}

.best-section-card {
  position: relative;
  width: 380.56px;
  height: 180px;
  background-color: #f5f5f5;
}

/* Float icon */
.icon-float {
  position: absolute;
  left: 27px;
  top: -27px;
  background-color: #555555;
  width: 61.72px;
  height: 61.72px;
  color: white;
  text-align: center;
  border-radius: 50%;
  border: 5px solid #fff;
}

.icon-float i  {
  font-size: 25px;
  text-align: center;
  line-height: 50px;
}

.icon-float:hover {
    background-color: #3baafe;
    transition: 0.5s;
  }

.best-section-wrapper {
	display: flex;
  justify-content: center;
}

.best-columns {
	display: flex;
	margin: 5px 0;
}

.best-column {
	flex: 1;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }	
}

.best-section-wrapper .best-section-card .card-content {
  padding: 57px 32px 0px 29px;
}

.best-section-wrapper .best-section-card .card-content h3 {
  margin-bottom: 23px;
}

@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 50%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}

/*****why choose us*****/
#why-choose-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choose-lt-img {
    width: 427.99px;
    height: 476.46px;
    overflow: hidden;
}

.choose-main-content {
    width: 689.16px;
    height: 475.22px;
    background-color: #F5F5F5;
}

.choose-rt-img {
    width: 324.01px;
    height: 476.46px;
    overflow: hidden;
    object-fit: contain;
}

.great-design-wrapper {
  display: flex;
  justify-content: center;
}

.choose-icon {
  width: 51.44px;
  height: 51.41px;
  background-color: #fff;

}

.choose-section-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

/*****What we do*****/
  .items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}
.items .item {
	flex: 1 0 200px;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
}
@media (min-width: 410px) {
  .items .item {
    max-width: calc(50% - 10px);
  }
}
@media (min-width: 620px) {
  .items .item {
    max-width: calc(33.33333% - 10px);
  }
}
@media (min-width: 830px) {
  .items .item {
    max-width: calc(25% - 10px);
  }
}
@media (min-width: 1040px) {
  .items .item {
    max-width: calc(20% - 10px);
  }
}
@media (min-width: 1250px) {
  .items .item {
    max-width: calc(16.66667% - 10px);
  }
}
@media (min-width: 1460px) {
  .items .item {
    max-width: calc(14.28571% - 10px);
  }
}
@media (min-width: 1670px) {
  .items .item {
    min-width: calc(12.5% - 10px);
  }
}

/* How we work */
#how-we-work {
  position: relative;
}

#how-we-work img {
  height: 518.41px;
  width: 100%;
  object-fit: cover;
}

.how-work-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 894.88px;
  height: 345.63px;
  background-color: #ebebeb;
  top: 100px;
}

.how-work-items {
  display: flex;
}

.work-list-items {
  display: flex;
}

.work-list-icon {
  background-color: #555555;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

/*****Meet our team*****/

#name-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#name-card-wrapper .card-bg {
  position: relative;
}

.card-bg {
  background-color: #f5f5f5;
  width: 586.28px;
  height: 217.03px;
  margin-top: 43px;
  margin-left: 34px;
}

#name-card-wrapper .card-bg .card-left-col {
  position: absolute;
  top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 34px;
  z-index: 50;
}

#name-card-wrapper .card-bg .card-left-col .team-img img {
  width: 159px;
  height: 185px;
  object-fit: cover;
  border: 10px solid #e6e6e6;
}

.team-social {
  display: flex;
  position: relative;
}

.team-social-icons {
  background-color: #fff;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  line-height: 36px;
  vertical-align: middle;

  -webkit-box-shadow: 13px 11px 9px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 11px 9px -15px rgba(0,0,0,0.75);
box-shadow: 13px 11px 9px -15px rgba(0,0,0,0.75);
 
}

/* Right column */

#name-card-wrapper .card-bg .card-right-col {
  margin-left: 193px;
  z-index: -1;
}

/* Team member tags */
#member-name-wrapper {
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform:skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
  background:#fff;
  width:195.44px;
  height: 51.41px;
  line-height: 51.41px;
  z-index:20;
  font-size:14.4px;
  color:#2E8DEF;
  padding-left: 20px;
  position:relative;
  left: -16px;
  top: 20px;
}

#member-name {
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
}

/* Team member designation */
#designation-wrapper {
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform:skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
  background:#e6e6e6;
  width: 150.84px;
  height: 36.00px;
  line-height: 36.00px;
  z-index:20;
  font-size:12.34px;
  padding-left: 20px;
  color:#2E8DEF;
  position:relative;
  left: -10px;
  top: 10px;
}

#designation {
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
}

/* Team member description */

#team-member-description {
  position: absolute;
  margin-left: 19px;
  bottom: 40px
}

#team-member-description  p{
  font-size: 14.4px;
  color: #999999;
}













/* Quality of work */
#quality-of-wrapper {
  display: flex;
}

#quality-of-wrapper .left {
  width: 633px;
  width: 50%;
}

#quality-of-wrapper .right {
  background-color: #EEEEEE;
  position: relative;
  width: 50%;
}

#quality-of-wrapper .right .right-content-wrapper {
  z-index: 1;
}

#parallelogram {
  width: 67px;
  height: 100%;
  transform: skew(-11deg);
  background: #EEEEEE;
  position: absolute;
  left: -32px;
  z-index: -1;
}

/* Portfolio */

#our-portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myBtnContainer {
  display: flex;
}

.portfolio-row {
  width: 85%;
  margin: 0 auto;
}

.portfolio-column {
  float: left;
  display: none; 
}

.portfolio-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.portfolio-content {
  background-color: white;
  padding: 1px;
}

.portfolio-content img {
  width: 300.00px;
  height: 215.75px;
  object-fit: cover;
}

.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* Best work environment */
#work-environment-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* Our Pricing */
.pricing-wrapper {
  display: flex;
}

.pricing-columns {
  
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .pricing-columns {
    display: flex;
    flex-direction: row;
  }
}

/* Some fun facts */

.counter-container {
	max-width: 1100px;
	margin: 0 auto;
}

.counters {
	background: #2a2929;
	color: #fff;
	padding: 40px 20px;
	border-top: 3px lightskyblue solid;
}

.counters .counter-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.counters i {
	color: lightskyblue;
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}

@media (max-width: 700px) {
	.counters .counter-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.counters .counter-container > div:nth-of-type(1),
	.counters .counter-container > div:nth-of-type(2) {
		border-bottom: 1px lightskyblue solid;
		padding-bottom: 20px;
	}
}



/* Our Partners */

#our-partners {
  text-align: center;
}

.partners-logo-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.partners-logo img {
  width: 277.99px;
  height: 118.40px;
}



















/*****Footer****/

/* Footer company info */
footer {
  background-color: #555555;
}

#footer-wrapper {
  display: flex;
}

footer #footer-wrapper .footer-company-info .footer-social-icons {
  display: flex;
}

/* Footer-address */

footer #footer-wrapper .footer-company-address .footer-icon {
  display: flex;
  flex-wrap: wrap;
}

/* Footer-contact-form */
footer #footer-wrapper .footer-contact-form .form-name {
  display: flex;
}

#footer-copyright {
  text-align: center;
}